<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="logs_dir" value="./logs"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%-20(%d{yyyy-MM-dd HH:mm:ss} %highlight([%-5level])) [%blue(%t)] %class{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logs_dir}/ts-liker.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${logs_dir}/ts-liker-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>12</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%-26(%d [%-5level]) [%t] %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="ROLLING" />
    </root>

    <logger name="cn.com.people.cpc.watchdogserver" level="debug" additivity="false">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="ROLLING" />
    </logger>

    <logger name="org.flywaydb" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>

</configuration>