<div class="ui raised segment">
    <h2 class="ui header">
        Demo Form: Sku
    </h2>
    <form [formGroup]="myForm"
          (ngSubmit)="onSubmit(myForm.value)"
          class="ui form">
        <div class="field">
            <label for="skuInput">SKU</label>
            <input type="text"
                   id="skuInput"
                   placeholder="SKU"
                   [formControl]="$any(myForm).controls['sku']">

            <div *ngIf="!sku.valid" class="ui error message">SKU is invalid</div>
        </div>

        <button type="submit" class="ui button">Submit</button>

        <div *ngIf="!sku.valid" class="ui error message">SKU is invalid</div>
        <div *ngIf="sku.hasError('required')" class="ui error message">SKU is required</div>
    </form>


    <div *ngIf="!sku.valid" class="ui error message">SKU is invalid</div>
</div>

<h1>Angular Router App</h1>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
    <ul>
        <li><a routerLink="youtube" routerLinkActive="active">youtube</a></li>
        <li><a routerLink="simple-http/1" routerLinkActive="active">simple-http</a></li>
    </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
