.example-container {
    width: 100%;
    height: stretch;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: cornflowerblue;
  }
  
  .example-sidenav {
    padding: 20px;
  }

  .text-success{
      color: green;
  }
  .text-danger{
      color: red;
  }
  .text-special{
      font-style: italic;
  }